<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649936591251-nf8vpldcoroshra7tlm0nrdp0m7oeqev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649936591251-nf8vpldcoroshra7tlm0nrdp0m7oeqev</string>
	<key>API_KEY</key>
	<string>AIzaSyAUflj8GIW9lsnIJs4GnGW1AvOxg6979iA</string>
	<key>GCM_SENDER_ID</key>
	<string>649936591251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.latihanBnsp</string>
	<key>PROJECT_ID</key>
	<string>bnsp-sertifikasi</string>
	<key>STORAGE_BUCKET</key>
	<string>bnsp-sertifikasi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649936591251:ios:bfdb45a19ed9a7485eb066</string>
</dict>
</plist>